.avatar_container {
  background-color: black;
  padding: 0.25em;
  width: 1em;
  height: 1em;
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  position: fixed;
  z-index: 99;
  margin-top: -0.5em;
  margin-right: -0.5em;
  position: absolute;
}